In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('output.csv')

In [3]:
df.head()

,State,NAICS,ApprovalFY,Term,FranchiseCode,UrbanRural,MIS_Status,GrAppv,SBA_Appv,RealEstate
0,IN,451120,1997,84,0,0,0,60000.0,48000.0,1
1,IN,722410,1997,60,0,0,0,40000.0,32000.0,1
2,IN,621210,1997,180,0,0,0,287000.0,215250.0,1
3,CT,332721,1997,120,0,0,0,517000.0,387750.0,1
4,FL,811118,1997,84,0,0,0,45000.0,36000.0,1